body{
background:black;
color:#d4af37;
font-family:'Cinzel',serif;
text-align:center;
}

.libro{
background:#0a0a0a;
margin:10px;
padding:15px;
border:1px solid #d4af37;
}
.portada{
height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:url("imagenes/biblioteca.jpg");
background-size:cover;
background-position:center;
text-align:center;
}

.logoLectio{
font-size:70px;
color:#d4af37;
font-family:'Cinzel',serif;
}

.subtituloLectio{
font-size:20px;
color:white;
margin-top:10px;
}
#menuCategorias{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:20px;
}

#menuCategorias button{
background:#111;
color:#d4af37;
border:1px solid #d4af37;
padding:8px 14px;
cursor:pointer;
}

#menuCategorias button:hover{
background:#d4af37;
color:black;
}
